.card-long{
    position: absolute;
    background-color: rgba(224, 247, 255, 0.8); /* Light blue, more opaque */
    background-color: rgb(221, 230, 245); /* Light blue background */
    border-radius: 20px;
    box-shadow: 6px 4px 2px rgba(0, 0, 0, 0.1);
    width: 90%; /* Adjust width as needed */
    height: 36%; /* Adjust height as needed */
    transition: transform 0.4s ease-in-out; /* Smooth transition */

}

.card-medium {
    position: absolute;
    background-color: rgba(224, 247, 255, 0.8); /* Light blue, more opaque */
    background-color: rgb(221, 230, 245); /* Light blue background */

    border-radius: 20px;
    box-shadow: 6px 4px 2px rgba(0, 0, 0, 0.08);
    width: 44%; /* Adjust width as needed */
    height: 42%; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensure elements are aligned at the top */
    padding: 0px;
    cursor: pointer; /* Indicates the element is clickable */
    transition: transform 0.4s ease-in-out; /* Smooth transition */
}

.card-valuation {
    background-color: rgba(224, 247, 255, 0.8); /* Light blue, more opaque */
    background-color: rgb(221, 230, 245); /* Light blue background */
    border-radius: 20px;
    box-shadow: 6px 4px 2px rgba(0, 0, 0, 0.08);
}



.card-short{
    position: absolute;
    background-color: rgba(224, 247, 255, 0.8); /* Light blue, more opaque */
    background-color: rgb(221, 230, 245); /* Light blue background */
    border-radius: 20px;
    box-shadow: 6px 4px 2px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    width: 28%; /* Adjust width as needed */
    height: 30%; /* Adjust height as needed */

    cursor: pointer; /* Indicates the element is clickable */
    transition: transform 0.4s ease-in-out; /* Smooth transition */
}

.card-selected {
    position: absolute;
    background-color: rgba(130, 174, 214, 1); /* Light blue, more opaque */
    border-radius: 8px;
    box-shadow: 6px 4px 2px rgba(0, 0, 0, 0.0);
    margin: 1rem 0;
    height: 6vh; /* Adjust height as needed */
    width: 25vw;
}

.card-not-selected{
    position: absolute;
    background-color: #D9D9D9; /* Light blue, more opaque */
    border-radius: 8px;
    box-shadow: 6px 4px 2px rgba(0, 0, 0, 0.0);
    margin: 1rem 0;
    height: 6vh; /* Adjust height as needed */
    width: 25vw;
}


.card-not-selected p {
    font-size: 1rem; /* Adjust as needed */
    font-weight: 300; /* Lighter weight */
    margin: 0; /* Remove margin */
    text-align: center; /* Center the text */
    position: relative;
    color: black;
    top: 25%; /* Move text higher within the card div */
}

.card-short p {
    font-size: 1rem; /* Adjust as needed */
    font-weight: 300; /* Lighter weight */
    margin: 0; /* Remove margin */
    padding-top: 2%;
    text-align: center; /* Center the text */
    position: relative;
    border: 0px solid #004c97;
    top: 0%; /* Move text higher within the card div */
}

.card-medium p {
    font-size: 1rem; /* Adjust as needed */
    font-weight: 300;  /* Bold weight */
    margin: 0; /* Remove margin */
    padding-top: 2%; /* Adjust padding */
    text-align: center; /* Center the text */
    position: relative;
    top: 0%; /* Move text higher within the card div */
    margin-bottom: 0;
}


.card-long p {
    font-size: 1rem; /* Adjust as needed */
    font-weight: 300;  /* Bold weight */
    margin: 0; /* Remove margin */
    padding-top: 2%; /* Adjust padding */
    padding-left: 2%;
    text-align: left; /* Center the text */
    position: relative;
    top: 0%; /* Move text higher within the card div */
}


.card-selected p {
    font-size: 1rem; /* Adjust as needed */
    font-weight: 300; /* Lighter weight */
    margin: 0; /* Remove margin */
    text-align: center; /* Center the text */
    position: relative;
    color: white;
    top: 25%; /* Move text higher within the card div */
    padding-bottom: 0px;
}


.card-selected, .card-not-selected {
    cursor: pointer; /* Indicates the element is clickable */
}

.card-selected:hover, .card-not-selected:hover {
    transform: scale(1.05); 
    transition: transform 0.2s ease-in-out;
}

.clicked {
    z-index: 10;
    opacity: 1;
    background-color: rgba(224, 247, 255, 1);
    background-color: rgb(221, 230, 245); /* Light blue background */

    border: 1px solid #85afd8;
}


.card-triple{
    width: 20%;
}


/* DEBUGGING */
.card-selected, .card-not-selected {
    border: 0px solid orange; /* Added for debugging */;
}

.card-medium p {
    border: 0px solid red;

}

